html, body {
  overflow-x: hidden; 
}


.hero-section {
  position: relative;
  height: 110vh;
  overflow: hidden;
  
  
}

.hero-bg {
  position: absolute;
  opacity: .9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
  color: white;
  padding-top: 250px;
  
}


.hero-title {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  
  font-size: 60px;
  line-height: 102%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 20px;
}


.hero-subtitle {
  font-family: Poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  
  font-size: 28px;
  line-height: 45px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 30px;
  width: 85%;
}


.hero-btn {
  background-color: white;
  color: black;
  
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #ddd;
}


.dropdown-toggle::after {
  display: none !important;
}

.dropdown-arrow {
  margin-left: 5px;
  transition: transform 0.25s ease;
}

.nav-item.dropdown.show .dropdown-arrow {
  transform: rotate(180deg);
}


.mega-dropdown {
  min-width: 600px !important;
  
  background-color: #f8f9fa;
  
  border-radius: 8px;
  
  border: 1px solid #ddd;
  
}

.mega-dropdown .row {
  margin: 0;
  
}


.dropdown-title {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.dropdown-title:hover {
  text-decoration: underline;
}


.dropdown-menu .dropdown-item {
  padding: 0.25rem 0;
  white-space: normal;
  
}

.mega-dropdown ul li a.dropdown-item {
  font-size: 0.775rem;
  
  line-height: 1.4;
  
  padding-left: 0;
  
}

ul {
  list-style-type: disc;
  
  
}






.custom-navbar {
  background: transparent;

}


.brand-secure {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0.35px;
  color: white !important;
  vertical-align: middle;
}


.nav-link {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0px;
  color: white !important;
}


.dropdown-toggle::after {
  display: none !important;
}

.custom-navbar {
  transition: top 0.3s ease-in-out;

}


.dropdown-arrow {
  margin-left: 8px;
  transition: transform .25s ease;
  font-size: 14px;
  color: white;
}


.nav-item.dropdown.show .dropdown-arrow {
  transform: rotate(180deg);
}


.dropdown-menu {
  background-color: white;
  border: none;
}

.dropdown-item {
  color: black !important;
}


.contact-btn {
  background-color: white;
  color: black;
  width: 140px;
  height: 38px;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
  border: none;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background-color: #ddd;
}


@media (max-width: 768px) {
  .hero-content {
    margin-top: -70px; 
  }
  .hero-section
  {
    
    height: 80vh;
  }
  .hero-title {
    
    font-size: 2.0rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }
}


@media (max-width: 375px) {
  .hero-content {
    margin-top: -100px; 
  }
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}




@media (max-width: 991.98px) {
  .hero-section {
    overflow: visible; 
  }
  .mega-dropdown {
    min-width: 100% !important;  
    border-radius: 0;            
    border: none;                
    padding: 10px 15px;          
  }

  .mega-dropdown .row {
    display: block;              
  }

  .mega-dropdown .col-12,
  .mega-dropdown .col-md-4 {
    width: 100% !important;      
    margin-bottom: 15px;         
  }

  .mega-dropdown .dropdown-title {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }

  .mega-dropdown ul li a.dropdown-item {
    font-size: 0.9rem;
    padding: 5px 0;
  }
}


@media (min-width: 992px) {
  .nav-item.dropdown:hover .mega-dropdown {
    display: block;
    margin-top: 0;
  }

  .nav-item.dropdown:hover .dropdown-arrow {
    transform: rotate(180deg);
  }
}







.beyond-security-section p {
  font-size: 1.2rem;
  
  line-height: 1.8;
}

.beyond-security-section .icon-wrapper img {
  width: 80px;
  
  height: auto;
  display: block;
}

.beyond-security-section .col-lg-6 p {
  max-width: 90%;
  
}






@media (max-width: 992px) {
    .beyond-security-section h2 {
        font-size: 1.8rem; 
    }

    .beyond-security-section h5 {
        font-size: 1.2rem; 
    }

    .beyond-security-section p {
        font-size: 1rem; 
    }
}


@media (max-width: 576px) {
    .beyond-security-section h2 {
        font-size: 1.4rem;
    }

    .beyond-security-section h5 {
        font-size: 1rem;
    }

    .beyond-security-section p {
        font-size: 0.9rem;
    }
}









.physical-protection p {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #0B1A2B;
}

.physical-protection .number-box {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(180deg, #0266d1, #9db9da);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.physical-protection .number-box h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.physical-protection .number-box p {
  margin: 0;
  font-size: 1rem;
}





@media (max-width: 992px) {
    .physical-protection h1 {
        font-size: 1.8rem;
    }

    .physical-protection p {
        font-size: 1rem;
    }

    .physical-protection .col-md-3,
    .physical-protection .col-md-6 {
        flex: 0 0 100%; 
        max-width: 100%;
    }

    .physical-protection .number-box {
        height: auto; 
        min-height: 150px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .physical-protection .row.g-4 {
        gap: 20px;
    }
}


@media (max-width: 576px) {
    .physical-protection h1 {
        font-size: 1.4rem;
    }

    .physical-protection p {
        font-size: 0.9rem;
    }

    .physical-protection .number-box {
        min-height: 130px; 
        padding: 15px;
    }
}





@media (max-width: 992px) {
    .digital-fortification-header h1 {
        font-size: 1.8rem;
    }
    .digital-fortification-header p {
        font-size: 1rem;
    }
}


@media (max-width: 576px) {
    .digital-fortification-header h1 {
        font-size: 1.4rem;
    }
    .digital-fortification-header p {
        font-size: 0.9rem;
    }
}



.slider {
  background-color: #0B1A2B;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid #0B1A2B;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 10px 0;
}

.slider-track {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.slider-row {
  display: flex;
  gap: 50px;
  white-space: nowrap;
  flex: 0 0 auto;
}


.slider-row:nth-child(1),
.slider-row:nth-child(3) {
  animation: scrollRow 5s linear infinite alternate;
}


.slider-row:nth-child(2),
.slider-row:nth-child(4) {
  animation: scrollRow 5s linear infinite alternate;
}

.slider-item {
  color: #fff;

  padding: 5px 20px;
  flex: 0 0 auto;
}


@keyframes scrollRow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    
  }
}


.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  
  height: 80px;
  
  background-color: white;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.menu {
  top: 41px;
  left: 140px;
  background-color: #0B1A2B;
  border: 1px solid #10253d;
  
  z-index: 2;
  position: relative;
  flex-basis: 35%;
  
  
}

.menu {
  background-color: #0B1A2B;
  border: 1px solid #ffffff;
  padding: 15px;
}

.menu-sidebar {
  border-right: 1px solid #ffffff;
}

.menu-sidebar {
  padding: 0;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .7rem;
}


.menu-title {
  color: #fff;
  margin-bottom: 5px;
  font-size: .8rem;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  color: #fff;
  padding: 10px 15px;
  
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  
}


.menu-list li.active {
  background-color: #fff;
  color: #0B1A2B;
  width: 100%;
  display: block;

}

.menu-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: #fff;
  text-align: center;
}

.menu-content {
  position: relative;


}

.menu-content p {
  font-size: 1.3rem;
  margin-top:40px;
  
}



.menu-content .menu-icon {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 80px;
  
  height: auto;
}

.menu-sidebar hr {
  border: none;
  
  border-top: 1px solid #fff;
  
  margin: 8px 0;
  
}







@media (max-width: 991.98px) {
  .blue-sideandcontent
  {
    width: 100% !important;  
    padding-left: 0 !important; 
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
     
  }


  
  .row>.col-md-6 {
    flex: 0 0 95%;
    max-width: 100%;
    margin: 0 auto 20px auto;
    
  }

  .menu {
    top: 0;
    left: 0;
    border: 1px solid #fff;
    padding: 10px;
  }

  .menu-sidebar {
    border-right: none;
    
  }

  .menu-content {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }

  .menu-content .menu-icon {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 10px auto;
    display: block;
    width: 60px;
  }

  .menu-list li {
    padding: 8px 10px;
    font-size: 0.8rem;
    

  }

  .menu-title {
    font-size: .8rem;
    padding: 5px;
  }

  
  .slider {
    height: 300px;
    border: 1px solid #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 8px 0;
  }

  .slider::before {
    display: none;
    
  }

  .slider-row {
    gap: 20px;
  }

  .slider-item {
    padding: 4px 10px;
    font-size: 0.9rem;
  }
}








.beyond-section {
  color: #0B1A2B;
  font-family: Poppins, sans-serif;
  margin-top: 40px;
}

.beyond-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.beyond-subtitle {
  font-size: 1.2rem;
  color: #0B1A2B;
}

.beyond-highlight {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.gradient-text {
  background: linear-gradient(180deg, #0251a7, #79ace6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.beyond-text {
  font-size: 1rem;
  color: #0B1A2B;
}

.beyond-footer {
  font-size: 1.5rem;
  color: #0B1A2B;
}



.beyond-section .row.align-items-center {
  display: flex;
  align-items: flex-start;
  
}


.beyond-highlight {
  margin-top: 0;
  margin-bottom: 10px;
}


.beyond-text {
  margin-top: 0;
}





@media (max-width: 992px) {
    .beyond-section h1 {
        font-size: 1.8rem;
    }

    .beyond-section h4 {
        font-size: 1.3rem;
    }

    .beyond-section p {
        font-size: 1rem;
    }
}


@media (max-width: 576px) {
    .beyond-section h1 {
        font-size: 1.4rem;
    }

    .beyond-section h4 {
        font-size: 1.1rem;
    }
  }






.risk-left {
  background-color: #0B1A2B;
  color: #fff;
  padding: 20px;
  position: relative;
  min-height: 300px;


  display: flex;
  flex-direction: column; 
  justify-content: center; 
       
 
}

.risk-left .risk-triangle {
  position: absolute;
  top: 0;
  right: 0;
  
  width: 80px;
  height: 50px;
  background-color: white;
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
  
}



.risk-right {
  background-color: #0B1A2B;
  top: 25px;
  right: 80px;
  color: #fff;
  border-left: 1px solid #1a3d64;
  padding: 20px;
  position: relative;

  z-index: 2;

}
.risk-right p
{
  font-weight: 200;
}

.risk-left p {
  width: 80%;
  margin-bottom:30px; 
  font-weight: 300;
  
}




@media (max-width: 768px) {
  .from-risk-section .row {
    flex-direction: column; 
  }

  .risk-left,
  .risk-right {
    width: 95%; 
    margin: 10px auto; 
    top: 0 !important; 
    right: 0 !important; 
    border-left: none; 
    min-height: auto; 
    padding: 15px; 
  }

  .risk-left .risk-triangle {
    display: none; 
  }

  
  .risk-left p,
  .risk-right p {
    font-size: 0.85rem!important; 
  }

  .risk-left h4,
  .risk-right h4 {
    font-size: 0.95rem; 
  }
}












.toast-bar {
background: linear-gradient(
    270deg, 
    rgba(10, 79, 158, 0.932),   
    rgba(255, 255, 255, 0.9)  
  );
   border-radius: 12px;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 1.05rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 65%;
  max-width: 900px;
  min-height: 80px;
}

.toast-bar span {
  font-weight: 500;
  color: #000; 
}



@media (max-width: 768px) {
  .toast-bar {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    top: -90px;
    padding: 15px 20px;
  }

  .toast-bar a {
    width: 100%;
    max-width: 200px;
  }
}


@media (max-width: 480px) {
  .toast-bar {
    font-size: 0.9rem;
    padding: 12px 15px;
  }
}




.footer
{
  background-color: #182330;
}
  .social-icon .img {
    
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    
    
    
    transition: background-color 0.3s, color 0.3s;
  }

  
@media (max-width: 768px) {
  
  .footer .col-md-3:first-of-type h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  
  .footer .row { align-items: flex-start; }
  .footer .col-md-2{
    flex: 0 0 33.333%;
    max-width: 33.333%;
    text-align: center;
  }
  .footer .col-md-2 h6{
    font-size: 0.9rem;
    margin-bottom: 8px;
  }
  .footer .col-md-2 ul{ margin:0; padding-left:0; list-style:none; }
  .footer .col-md-2 ul li,
  .footer .col-md-2 ul li a{
    font-size: 0.8rem;
    display: inline-block;
  }

  
  .footer .row > .col-md-3:last-of-type h6{ text-align:center; }
  .footer .row > .col-md-3:last-of-type .d-flex{
    justify-content: center !important;
    flex-wrap: wrap;
  }
  .footer .social-icon{ width:30px !important; height:30px !important; }
  .footer .social-icon img{ width:16px; height:16px; }

  
  .footer hr + .d-flex.justify-content-center.container{
    padding-left: 8px; padding-right: 8px;   
    gap: 8px !important;                     
    flex-wrap: nowrap !important;            
  }
  .footer hr + .d-flex.justify-content-center.container p{
    white-space: nowrap;                     
    font-size: clamp(10px, 2.6vw, 12px);     
    margin-bottom: 0;
    letter-spacing: -0.1px;                  
  }
}
